.section{
    padding: 15px 0;
}

.section--centered{
    text-align: center;
}

.section__header{
    margin: 0;
    font-family: 'Metamorphous';
    font-weight: normal;
    color: darkred;
}

.section__subHeader{
    margin-top: 0;
    color: darkred;
    font-weight: normal;
    font-family: 'Metamorphous';
}

.section__paragraph{
    line-height: 1.5;
    text-align: justify;
}

.section__button{
    background-color: darkred;
    color: white;
    padding: 20px;
    font-family: 'Metamorphous';
    font-size: 16px;
}

.section__button:hover{
    background-color: #dd0000;
}

.section__image{
    border-radius: 25%;
    margin-bottom: 10;
}

.section__link{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: auto 15px;
    text-align: center;
}

.section__link:hover{
    color: darkred;
}

.section__link:active{
    color: #dd0000;
}