html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.body{

    color: black;
    margin: 0;
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.body--dark{
    background-color: rgb(94, 94, 94)
}